#primary {
    margin-top: 15px;
    background-color: #ffff;
    height: 60px;
    width: 100%;
}

* {
    box-sizing: border-box;
}

#primary ul {
    list-style: none;
    position: relative;
    float: right;
    margin-right: 100px;
    padding: 0;
    font-size: large;
}

.couleur {
    background-color: rgb(13, 182, 9);
    width: 100%;
    height: 50px;
}

.bloc1 {
    background-image: url(image1.jpg);
    background-repeat: no-repeat;
    height: 780px;
    width: 100%;
    background-size: cover;
}

#primary ul a {
    display: block;
    color: rgb(13, 182, 9);
    text-decoration: none;
    font-weight: 700;
    font-size: 22px;
    line-height: 32px;
    padding: 0 16px;
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#primary ul li {
    position: relative;
    float: left;
    margin: 0;
    padding: 0
}

#primary ul li.current-menu {
    background-color: #fff;
}

#primary ul li:hover {
    background: #f6f6f6;
}

#primary ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    padding: 0
}

#primary ul ul li {
    float: none;
    width: 200px;
}

#primary ul ul a {
    line-height: 120%;
    padding: 10px 15px;
}

#primary ul ul ul {
    top: 0;
    left: 100%;
}

#primary ul li:hover>ul {
    display: inline;
}

.bien {
    font-family: "SHOWG.TTF";
    font-size: 30px;
    color: #ffff;
    margin-left: 20px;
}

.bien h1 {
    padding-top: 200px;
}

strong {
    font-size: 100px;
}

.voir-plus {
    display: block;
    background-color: white;
    border-radius: 15px;
    width: 200px;
    height: 70px;
    text-decoration: none;
    margin-top: 130px;
    text-align: center;
    font-size: x-large;
}

.voir-plus a {
    text-decoration: none;
    color: rgb(13, 182, 9);
    font-family: "SHOWG.TTF";
}

@font-face {
    font-family: "SHOWG.TTF";
    src: url("SHOWG.TTF") format("truetype");
}

.bien1 {
    color: #ffff;
}

.page ul {
    list-style-type: square;
}

.page {
    background-color: #dffaf7;
    font-family: "SHOWG.TTF";
    color: rgb(13, 182, 9);
    padding-bottom: 5px;
}

.pag {
    font-family: "SHOWG.TTF";
    color: rgb(13, 182, 9);
    display: block;
}

.svg {
    background-color: red;
    border: 1px;
}

.page12,
.center {
    margin: 25px;
}

.page1,
.page12 {
    font-family: serif;
}

.a-propos {
    text-align: center;
    font-size: 50px;
    font-family: "SHOWG.TTF";
    text-decoration: none;
    color: rgb(13, 182, 9);
    margin-top: 0;
}

.page12 {
    text-align: left;
    display: flexbox;
    width: 50%;
    height: 50%;
}

.image-a-propos {
    background-repeat: no-repeat;
    height: 655px;
    width: 780px;
    float: right;
}

.bloc {
    text-align: justify;
    display: flexbox;
}

.bloc32 {
    background-color: #fff;
}

.medoc {
    display: flex;
    width: 100%;
    height: 300px;
    align-items: center;
    align-content: space-around;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    flex-direction: row;
}

.medoc h2 {
    text-align: center;
}

.medoc li {
    font-size: 25px;
}

.med {
    border: rgb(54, 53, 53);
    display: flexbox;
    font-family: sans-serif;
}

.c {
    font-family: "SHOWG.TTF";
}

.spe {
    display: flexbox;
    border: 1px solid rgb(54, 53, 53);
    width: 30%;
    height: 100%;
    margin: 5px;
    border-radius: 10px;
    font-family: sans-serif;
}

.nos-services {
    text-align: center;
    font-size: 50px;
}

.nos-services1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.pied {
    background-color: rgb(13, 182, 9);
    width: 100%;
    height: 70px;
    text-align: center;
}

.M {
    line-height: 60px;
}

.avant {
    background-color: #dffaf7;
    font-family: "SHOWG.TTF";
    color: rgb(13, 182, 9);
}